<template>
              <div class=" flex justify-between items-center w-full border shadow  px-6 py-4  pb-10 "  > 
              <div class="   space-y-2 flex-shrink  ">
                 <span style="font-size:15px">Recherche par nom, business et type</span>
                 <div class="px-4 py-3 flex border shadow rounded space-x-2 " style="background-color:"> 
                   <svg class="w-4 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                   <input type="text" class=" bg-transparent flex-shrink flex-grow  leading-normal tracking-wide w-px flex-1 border border-none border-l-0 rounded rounded-l-none px-3 relative focus:outline-none text-xxs lg:text-xs lg:text-base text-gray-500 font-thin" placeholder="Search">

                 </div>
              </div>
              <div class=" flex justify-center items-center h-8 space-x-2 px-4 text-white   rounded" style="background-color:#4661B9 ; font-size:16px"> 
                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path></svg>
                <button>Télécharger</button>
              </div>
            </div>
</template>

<script>
export default {

}
</script>

<style>

</style>