<template>
  <div class="flex flex-col h-screen">
    <NavTop />
    <div class="flex-grow flex">
      <NavLeft />
    </div>
  </div>
</template>

<script>
import NavTop from "../components/Nav/NavTop.vue";
import NavLeft from "../components/Nav/NavLeft.vue";
export default {
  components: {
    NavTop,
    NavLeft,
  },
};
</script>

<style>
</style>