<template>
          <div class="  flex-shrink flex-grow h-full flex">
            <div
              class="   border-gray-300  border  py-8 h-full w-1/6 bg-white"
            >
              <div class=" space-y-12">
                <div class="space-y-6 py-3 px-4">
                  <div class="flex justify-start space-x-3 items-center">
                    <Icon/>
                    <div
                      class="font-bold "
                      style="
                        color: #333333;
                        font-family: Source Sans Pro;
                        font-size: 15px;
                      "
                    > 
                      Tableau de bord
                    </div>
                  </div>
                  <div class="flex justify-start space-x-3 items-center">
                    <div
                      class="rounded-full w-5 h-5 flex justify-between items-center"
                      style="background-color: #f11c33"
                    >
                     
                    </div>
                    <div
                      class="font-bold"
                      style="
                        color: #333333;
                        font-family: Source Sans Pro;
                        font-size: 15px;
                      "
                    >
                      <router-link to="validation">Validation</router-link>
                    </div>
                  </div>
                  <div class="flex justify-start space-x-3 items-center">
                    <div
                      class="rounded-full w-5 h-5 flex justify-between items-center"
                    >
                    <Icon/>
                    </div>
                    <div
                      class="font-bold"
                      style="
                        color: #333333;
                        font-family: Source Sans Pro;
                        font-size: 15px;
                      "
                    >
                      Marchands
                    </div>
                  </div>
                  <div class="flex justify-start space-x-3 items-center">
                    <div
                      class="rounded-full w-5 h-5 flex justify-between items-center"
                    >
                      <Icon/>
                    </div>
                    <div
                      class="font-bold"
                      style="
                        color: #333333;
                        font-family: Source Sans Pro;
                        font-size: 15px;
                      "
                    >
                      Reversements
                    </div>
                  </div>
                  <div class="flex justify-start space-x-3 items-center">
                    <div
                      class="rounded-full w-5 h-5 flex justify-between items-center"
                    >
                    <Icon/>
                    </div>
                    <div
                      class="font-bold"
                      style="
                        color: #333333;
                        font-family: Source Sans Pro;
                        font-size: 15px;
                      "
                    >
                      Liens Direct
                    </div>
                  </div>
                  <div class="flex justify-start space-x-3 items-center">
                    <div
                      class="rounded-full w-5 h-5 flex justify-between items-center"
                    >
                      <Icon/>
                    </div>
                    <div
                      class="font-bold"
                      style="
                        color: #333333;
                        font-family: Source Sans Pro;
                        font-size: 15px;
                      "
                    >
                      Paiement de masse
                    </div>
                  </div>
                </div>
                <div class="px-4">
                  <div class="flex space-x-3">
                    <svg
                      class="w-6 h-6"
                      fill="none"
                      stroke="#808080"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                      ></path>
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                      ></path>
                    </svg>
                    <span
                      class="font-bold"
                      style="font-family: Source Sans Pro; font-size: 15px"
                      >Paramètres</span
                    >
                  </div>
                </div>
              </div>
            </div>
           <Content/> 
           </div>
</template>

<script>
import Icon from "../../assets/svg/icon.vue";
import Content from  '@/components/MainContent.vue'

export default {
    
    components:{
        Icon,Content
    }
};
</script>

<style>
</style>