<template>
  <div
    class="text-white px-10 py-4 shadow-md flex w-full h-14 justify-between items-center flex-shrink"
    style="background-color: #222f5a"
  >
    <div class="flex justify-start items-center w-1/3 flex-grow space-x-24">
      <div class=" ">
        <Logo />
      </div>
      <div class="flex space-x-1">
        <span class="font-bold" style="font-size: 15px">Validations </span>
        <svg
          class="w-4 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
        <span
          class="font-bold"
          style="font-size: 15px; font-family: Source Sans Pro"
          >En attente (0)</span
        >
      </div>
    </div>
    <div class="flex space-x-8 justify-center items-center">
      <svg
        class="w-4 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
        ></path>
      </svg>
      <div class="flex space-x-2 justify-center items-center">
        <div class="flex">
          <div
            class="w-10 h-10 rounded-full flex justify-center items-center"
            style="background-color: #e6e6e6"
          >
            <svg
              class="w-4 h-4"
              fill="none"
              stroke="#000000"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="flex flex-col justify-start items-start">
          <span
            class="font-bold"
            style="font-size: 14px; font-family: Source Sans Pro"
          >
            Acme SAS</span
          >
          <span
            class="  "
            style="clor: #8a9aae; font-size: 12px; font-family: Source Sans Pro"
            >Administrateur
          </span>
        </div>
        <svg
          class="w-3 h-3"
          fill="none"
          stroke="#8A9AAE"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from "../../assets/svg/kkiapay.vue";

export default {
  components: {
    Logo,
  },
};
</script>

<style>
</style>